@import url(//db.onlinewebfonts.com/c/1467e2d37ec60cc50117a8db7c24f626?family=DS-Digital);

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  25% {
	opacity: 0.25;
  }
  50% {
	opacity: 0.5;
  }
  75% {
	opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  25% {
	opacity: 0.25;
  }
  50% {
	opacity: 0.5;
  }
  75% {
	opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes blink {
  0% {
    opacity: 0;
  }
  25% {
	opacity: 0.25;
  }
  50% {
	opacity: 0.5;
  }
  75% {
	opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes blink {
  0% {
    opacity: 0;
  }
  25% {
	opacity: 0.25;
  }
  50% {
	opacity: 0.5;
  }
  75% {
	opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  25% {
	opacity: 0.25;
  }
  50% {
	opacity: 0.5;
  }
  75% {
	opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes glow {
  to {
    text-shadow: 0 0 50px #0084ff;
  }
}

@-moz-keyframes glow {
  to {
    text-shadow: 0 0 50px #0084ff;
  }
}

@-ms-keyframes glow {
  to {
    text-shadow: 0 0 50px #0084ff;
  }
}

@-o-keyframes glow {
  to {
    text-shadow: 0 0 50px #0084ff;
  }
}

@keyframes glow {
  to {
    text-shadow: 0 0 50px #0084ff;
  }
}

.MMM-DigitalAlarmClock {
  color: #ff0900;	/* #0084ff - digital blue, #ff0900 - digital red, #00d960 - digital green, #ffffff - bright white */
  width: 1000px;
  font-family: DS-Digital;
  position: relative;
  height: 400px;
  box-shadow: 0px 0px 2px white;
  margin: 150px auto;
  border-radius: 50px;
  background-color: #101010;
  border: 50px inset #333;
  padding: 0;
  overflow: hidden;
}

.MMM-DigitalAlarmClock .date {
  font-size: 100px;
  font-family: DS-Digital;
  line-height: 105px;
  letter-spacing: 5px;
  font-weight: 600;
}

.MMM-DigitalAlarmClock .time {
  position: relative;
  font-size: 300px;
  line-height: 305px;
  letter-spacing: 5px;
  font-family: DS-Digital;
  font-weight: bolder;
  text-align: right;
  align-content: space-around;
}

.colon {
  animation: glow .5s infinite alternate;
}

.MMM-DigitalAlarmClock .week {
  font-size: 75px;
  font-family: DS-Digital;
  line-height: 90px;
  letter-spacing: 3px;
  font-weight: bold;
}

.MMM-DigitalAlarmClock .alarm {
  font-size: 100px;
  vertical-align: central;
}

.MMM-DigitalAlarmClock .set {
  position: absolute;
  font-size: 75px;
  padding: 45px;
  bottom: 15px;
  vertical-align: middle;
}

.MMM-DigitalAlarmClock .button {
  padding: 10px 40px;
  border: 2px solid rgb(255, 0, 0);
  border-radius: 25px;
  text-align: center;
}



/*****************************************************


.AlarmInput {
	display: none;
}

.AlarmInput input {
  height: 100px;
  font-size: 100px;
  max-width: 400px;
  font-family: 'Orbitron', sans-serif;
  background-color: #1b252a;
  border: none;
  padding: 5px 20px;
  color: azure;
  letter-spacing: 5px;
  position: relative;
}

.container{
    width: 90%;
    max-width: 1400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
}

.ClockHolder{
    width: 500px;
    background-color: #1b252a;
    padding: 30px 50px;
    border-radius: 15px;
    border: 3px solid #0277BD;
    position: relative;
}

.ClockHolder::after{
    content: " ";
    position: absolute;
    bottom: -15px;
    left: 50%;
    width: 70%;
    height: 15px;
    background-color: #0277bd;
    transform: translate(-50%,0);
    border-radius: 3px 3px 8px 8px;
}


.ClockHolder::before {
	content: "";
	position: absolute;
	width: 110%;
	height: 10px;
	background-color: #000077;
	bottom: -25px;
	left: -5%;
	border-radius: 100%;
	filter: blur(5px);
}

.AlarmInput input:focus {
	border: 1px solid #fff;
}

.Alarm .AlarmInput {
	display: block;
}

.Alarm .AlarmInput.DisNone {
	display: none;
}

.AlarmInput input::-webkit-input-placeholder {
	font-size: 30px;
}

.AlarmInput input::-moz-placeholder {
	font-size: 30px;
}

.AlarmInput input:-ms-input-placeholder {
	font-size: 30px;
}

.AlarmInput input:-moz-placeholder {
	font-size: 30px;
}
*/
